<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhlp.pages.mapper.ManagerMapper" >
  <select id="login" parameterType="Manager" resultType="Manager">
		select * from Manager where manName=#{manName} and manPass=#{manPass}
	</select>
	
	<!-- <insert id="register" parameterType="Manager" >
	    insert into manager values(seq_mid.nextval,#{m_lname},#{m_password},#{m_name})
	</insert> -->
</mapper>