body{
	
}
table{
	
}
thead{
	
}
table th,td,tr{
	
}
#add,#redo{
	width:85px; height:40px; border:none; font-size:18px;font-family:"楷体" ;
}
.left_td{
	width:138px;
}
.easyui-validatebox{
	width:360px;
	border:none;
	font-size:16px;
	padding:7px 0px 7px 5px;
}